Package: com.samstone.smsmileys
Name: SMSmileys
Depends: mobilesubstrate
Version: 2.0.0
Architecture: iphoneos-arm
Description: Displays ASCII Smileys as their emoji equivalent default Messages app!
Maintainer: Sam Stone <stonesam92@gmail.com>
Author: Sam Stone <stonesam92@gmail.com>
Section: Tweaks
