Package: com.samstone.smsmileys
Name: SMSmileys
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Brings smileys to the default Messages app!
Maintainer: Sam Stone
Author: Sam Stone
Section: Tweaks
